doctype html
html
  head
    title #{title}
    block style
  body
    nav#navbar
            div#logo
                div.ig
                    img(src="../static/img/logo.png")
                    | DA
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Our Services]
                li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2020 Dance Academy
    block script