extends base.pug

block style
  style
      include ../static/style.css

block content 
    div#intro
        img.mySlides(src="../static/img/di_ballet_class.png")
        img.mySlides(src="../static/img/ketan-rajput-n-g7dgwNZg4-unsplash.jpg")
        img.mySlides(src="../static/img/vadim-fomenok-hWOTYL5BKT8-unsplash.jpg")
        img.mySlides(src="../static/img/frederik-trovatten-com-vk7p_G3ustg-unsplash.jpg")
        
        section.container
            div#heading1 Welcome to Dance Academy
            div#heading2 Eat Sleep Dance Repeat
    
    section#mission
        div#hd Our Mission
        div.card 
            h5 Dance With Us
            div.content
                div.forimg
                    img(src="../static/img/1.png")
                div.txt
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.card
            h5 Join Us
            div.content
                div.forimg
                    img(src="../static/img/2.png")
                div.txt
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.card 
            h5 Dance Experts
            div.content
                div.forimg
                    img(src="../static/img/3.jpg")
                div.txt
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

    section#sponsor
        div Our Sponsors
        div#sponsorlogo
            img(src="../static/img/coca.png" , alt="cocalcolasponsor" ,class="spimg")
            img(src="../static/img/hp.png" , alt="cocalcolasponsor" ,class="spimg")
            img(src="../static/img/intel1.jpg" , alt="cocalcolasponsor" ,class="spimg")
            img(src="../static/img/amazon.png" , alt="cocalcolasponsor" ,class="spimg")

            

block script

    script(src="../static/homescript.js")
    
    
    
    