doctype html
html
  head
    title Welcome to Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      div#logo
          img(src="../static/img/logo.png")
      ul
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Our Services]
          li #[a(href="/") Contact Us]
    section#intro
      div Welcome to Dance Academy
      div Eat Sleep Dance Repeat
    
    section#mission
      div 
       h4 Our Mission
      div.card 
       h5 Dance With Us
      div.card
       h5 Join Us
      div.card 
       h5 Dance Experts


    section#sponsor
      div Our Sponsors

    
    
    
    footer#footer
      
    script
      include ../static/script.js