doctype html
html
  head
    title Welcome to Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      ul
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Contact Us]
    section#intro
      div Welcome to Dance Academy
      div Eat Sleep Dance Repeat
    
    section#mission
      div 
       h4 Our Mission
      div.card 
       p Dance With Us
      div.card
       p Join Us
      div.card 
       p Dance Experts


    section#sponsor
      div Our Sponsors

    
    
    
    footer#footer
      
    script
      include ../static/script.js