doctype html
html
  head
    title Welcome to Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      div#logo
          img(src="../static/img/logo.png")
          | DA
      ul
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Our Services]
          li #[a(href="/") Contact Us]
    section#intro
      div Welcome to Dance Academy
      div Eat Sleep Dance Repeat
    
    section#mission
      div 
       h4 Our Mission
      div
      div.card 
       h5 Dance With Us
       div.txt
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      div.card
       h5 Join Us
       div.txt
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      div.card 
       h5 Dance Experts
       div.txt
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 


    section#sponsor
      div Our Sponsors

    
    
    
    footer#footer
      
    script
      include ../static/script.js