extends base.pug

block style
  style
    include ../static/style.css
    include ../static/Servicestyle.css

block content
  
    div.con
      h3 Trainings
      h3 2 HourClass
      h3 Best Tutors
      h3 Different Courses for Children
      h3 All age groups welcome

block script
  script(src="../static/script.js")