#navbar{
    height:50px;
    background-color: coral;
    padding:15px 3px;
}
#logo{
    width:5px;
}
img{
    height:50px;
    position: absolute;
    top:0;
    border-radius:50%;
    padding:4px;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    font-size: 17px;
    text-decoration: none;
    padding:5px 11px;
    color: white;
    cursor: pointer;
}
#navbar li a:hover{
    color:black;
    background-color: rgb(218, 194, 185);
}
#intro::before{
    content: "";
    background: url("/static/img/bkg.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
    z-index:-1;
    width:100%;
    height:350px;
    position:absolute;
    top:0;
}
#intro{
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-position: center;
    height:300px;
    margin-bottom:2px;
}
#intro div{
    padding:3px 0;
}
#sponsor{
text-align: center;
background-color: rgb(196, 181, 212);
height:200px;
margin-bottom: 2px;
}

#sponsor div{
    padding:10px;
    font-size: 20px;
}
h4{
    font-weight: normal;
    padding: 3px;
}
#mission{
    margin-bottom: 2px;
    background-color: #fdd2c3;
    display:block;
   
    width:100%;
    height:280px;
    padding:10px;
    font-size:20px;
    text-align: center;
}
.card{
   background-color: white;
    display:inline-block;
    border-radius: 2px;
    border:2px solid black;
    width:25%;
    padding: 5px;
    margin:19px 15px;
    height:200px;
}
#footer{
    background-color:black;
    height:100px;
}
*{
    margin: 0;
    box-sizing: border-box;
}